@import "list_vertical.rasi"

element-icon {
    background-color: inherit;
    text-color: inherit;
}

element-icon {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    size: 32px;
    border: 6px;
    border-color: transparent;
}
